
<section id="projectsSection">
    <div class="filter-links">
        <ul class="filter-list">
            <li class="left"><a href="/blog">portfolio</a></li>
            <li class="right"><a href="/community-blog">community</a></li>
        </ul>
    </div>
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container" id="{{title}}">
            <div class="project-slide">
                <div class="projInfo">
                    <p><a href="{{link}}" rel="noopener"  target="_blank">{{title}}</a></p>      
                    <p>{{{content}}}</p>
                </div>
                <a href="{{link}}" rel="noopener" target="_blank">
                    <img src="{{image}}" alt="project thumbnail image">
                </a>
            </div>            
            <div class="projectTags">
                <form method="POST" action="/userProfile">
                    <p>posted by <button type="submit" name="username" value="{{author}}" class="buttonLinkText">{{author}}</button> on <button type="submit" value="{{date}}">{{date}}</button> post id: {{id}}</p>
                </form>
            </div>
        </div>
    {{/each}}
</section>