<div class="login-welcome">
    <h1>{{name}} in the place!</h1>
    <div class="options-container">    
        <div class="profile-card">
            <div class="profile-card-image">
                <img class="dashboard-profile-image" src="{{profilePicture}}" width="100px" height="100px">
            </div>
            <div class="profile-card-info">
                <h2 class="nameTag">{{name}}</h2>

                <div class="profile-card-links">
                    <form method="POST" action="/userProfile">
                        <button type="submit" name="username" value="{{name}}">view profile</button> 
                    </form>|<a href="/editProfile">edit profile</a>                   
                </div>
                                <h3>date joined: {{dateJoined}}</h3>
                <h3>post count : {{posts}}</h3>                
            </div>
        </div>
        <div class="post-manager">
            <h2>What would you like to do?</h2>
            <ul>
                <li><a href="/newPost"><div class="UI-option">create new post</div></a></li>
                <li><a href="/manageBlog"><div class="UI-option">manage posts</div></a></li>    
                <li><a href="/logOut"><div class="UI-option">log out</div></a></li>
            </ul>
        </div>
    </div>
</div>