<section id="projectsSection"> 
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <p><a href="{{this.link}}" target="_blank" rel="noopener">{{title}}</a></p>
                    <p>{{{content}}}</p>
                </div>
                <a href="{{link}}" target="_blank" rel="noopener">
                    <img src="{{image}}" alt="project thumbnail image">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by {{author}} on {{date}} post id: {{id}}</p>
            </div>
            <!-- UPDATE BLOG FORM -->
            <div class="updateBlogPost">
                <form action="/manageBlog" method="post" class="updateForm" enctype="multipart/form-data">
                    <div class="updateInputs">
                        <div class="postDetails">
                            <input type="hidden" name="context" value="blogPost" readonly />
                            <label for="id">post ID
                                <input type="number" name="id" value="{{id}}" readonly /></label>
                            <label for="title">title                       
                                <input class="contentField" type="text" name="title" value="{{title}}" /></label>                             
                            <label for="image">change image
                                <input class="contentField" type="hidden" name="image" value="{{image}}" readonly />
                                <input class="contentField" type="hidden" name="author" value="{{author}}" readonly />
                                <input class="updateButton" type="file" accept=".png" name="change-image" /></label>                                             
                            <label for="link">link
                                <input class="contentField" type="text" name="link" value="{{link}}"></label>                                
                        </div>    
                    </div>                
                    <div class="postContent">
                        <label for="content">content
                            <textarea type="text" name="content" rows="10" cols="50">{{this.content}}</textarea>
                        </label>
                        <input class="updateButton" type="submit" value="Update" />
                    </div>
                </form>                
                <div class="deletePost">
                    <form action="/post-delete" method="post">
                        <h1>delete this post?</h1>
                        <div class="deleteTextField">
                            <label for="deleteThisPost">confirm post title
                                <input name="deleteThisPost" type="text" pattern="{{title}}" placeholder="post title" required />
                            </label>
                            <input type="hidden" name="author" value="{{author}}">
                            <input type="hidden" name="postId" value="{{id}}">
                            <input type="hidden" name="image" value="{{image}}">
                        </div>
                        <div class="deleteCheckboxField">
                            <label for="confirmDeletePost">tick to confirm
                                <input type="checkbox" required />
                            </label>
                        </div>
                        <input class="updateButton" type="submit" value="delete" />
                    </form>
                </div>
            </div>
            </div>
            <!-- UPDATE BLOG FORM END -->
        </div>
    {{/each}}
</section>

{{!-- <section id="projectsSection"> 
    {{#each rows}}
        <!-- PROJECTS START -->
        <div class="project-slide-container">
            <div class="project-slide">
                <div class="projInfo">
                    <p><a href="{{this.link}}" target="_blank">{{title}}</a></p>
                    <p>{{{content}}}</p>
                </div>
                <a href="{{link}}" target="_blank">
                    <img src="{{image}}">
                </a>
            </div>            
            <div class="projectTags">
                <p>posted by <a href="">{{author}}</a> on {{date}} post id: {{id}}</p>
            </div>
            <!-- UPDATE BLOG FORM -->
            <div class="updateBlogPost">
                <form action="/manageBlog" method="post" class="updateForm" enctype="multipart/form-data">
                    <div class="updateInputs">
                        <div class="postDetails">
                            <label for="id">post ID</label>
                            <input type="number" name="id" value="{{id}}" readonly />
                            <label for="title">title</label>                        
                            <input class="contentField" type="text" name="title" value="{{title}}" />
                            <label for="image">change image</label>
                            <input class="contentField" type="hidden" name="image" value="{{image}}" />
                            <input class="contentField" type="hidden" name="author" value="{{author}}" />
                            <input class="updateButton" type="file" accept="image/png, image/jpeg" name="change-image"> 
                            <label for="link">link</label>
                            <input class="contentField" type="text" name="link" value="{{link}}" />    
                        </div>    
                    </div>                
                    <div class="postContent">
                        <label for="content">content</label>
                        <textarea type="text" name="content" rows="10" cols="50">{{this.content}}</textarea>
                        <input class="updateButton" type="submit" value="Update" />
                    </div>
                </form>                
                <div class="deletePost">
                    <form action="/post-delete" method="post">
                        <h1>delete this post?</h1>
                        <div class="deleteTextField">
                            <label for="deleteThisPost">confirm post title</label>
                            <input name="deleteThisPost" type="text" pattern="{{title}}" placeholder="post title" required />
                            <input type="hidden" name="author" value="{{author}}">
                            <input type="hidden" name="postId" value="{{id}}">
                            <input type="hidden" name="image" value="{{image}}">
                        </div>
                        <div class="deleteCheckboxField">
                            <label for="confirmDeletePost">tick to confirm</label>
                            <input type="checkbox" required />
                        </div>
                        <input class="updateButton" type="submit" value="delete" />
                    </form>
                </div>
            </div>
            </div>
            <!-- UPDATE BLOG FORM END -->
        </div>
    {{/each}}
</section> --}}